<div class="container col-4">
 <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="formFile" class="form-label">upload image</label>
    <div class="mb-3">
      <input class="form-control form-control-sm" type="file" name="image" />
    </div>
    <input type="submit" value="Upload Photo" />
  </form>
</div>