<div class="container col-4 mt-3 border p-3 rounded">
  <form action="/user/signup" method="POST">
    <label for="formFile" class="form-label">sign Up</label>
    <div class="mb-3">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="email"
      />
    </div>
      <div class="mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
     <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</div>